.banner {
    display:flex;
    top: 80px;
    padding-bottom: 60px;

    @media screen and (min-width:$tabl) {
        padding-bottom: 60px;
        }
    
        @media screen and (min-width:$desc) {
        padding-bottom: 94px;
        }
    }


    
    
    
    .banner__box {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 100%;

    @media screen and (min-width:$desc) {
        padding: 0;
    }


    }
    
    
    .banner-container {
    width:480px;   
    margin-left: auto; 
    margin-right: auto;
    padding: 200px 0;
    display: block;
    max-width: 100%;

    background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/banner.jpg") no-repeat center/cover, #2F303A;


    

    @media screen and (min-width:$tabl) {
        width:768px;
        }
    
        @media screen and (min-width:$desc)  {
            width:1600px;
        }

        



        


    

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        
        background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Header-480@2x.jpg") no-repeat center/cover, #2F303A;

    }



    
    @media screen and (min-width: $tabl) {
    background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Header-768.jpg") no-repeat center/cover, #2F303A;

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        
        background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Header-768@2x.jpg") no-repeat center/cover, #2F303A;

    }
}
    


    @media screen and (min-width: $desc) {
        background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Header-1200.jpg") no-repeat center/cover, #2F303A;

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        
        background:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Header-1200@2x.jpg") no-repeat center/cover, #2F303A;

    }
    }

    }
    
    .hero {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:$tabl) {
        width: 360px;
        
    }



    @media screen and (min-width:$desc) {
        width: 696px;
        
    }
    }
    
    .banner-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bs-white);
    margin-bottom: 30px;

    @media screen and (min-width:$desc) {
        font-size: 44px;
        line-height: 60px;
        
    }

    }
    
    .banner-btn {
    background: var(--bs-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--bs-blue);
    color: var(--bs-white);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 216px;
    height: 50px;
    margin-right: auto;
    display: flex;
    margin-left: auto;
    justify-content: center;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--bs-white);
        background: #188CE8;
    }
    }
    
    