
footer {
    background: #2F303A;
    }
    
    .address-container {
    padding-top: 60px;
        
    }

    address {
        @media screen and (min-width:$tabl) and (max-width:$pre-desc) {
        display: flex;
        justify-content: flex-start;
    }
}


    .address {
    font-style: normal;
    margin-top: 20px
    }
    
    .logo-address {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--bs-blue);
    text-decoration:none;

    @media screen and (min-width:$minmob)  {
        display: flex;
        justify-content: center;
    }
    
    @media screen and (min-width:$mob) and (max-width:$pre-desc) {
        display: flex;
        justify-content: center;
    }

        @media screen and (min-width:$tabl) {
            display: flex;
            
        }
    
        @media screen and (min-width:$desc) {
        font-size: 26px;
        line-height: 31px;
        display: flex;
        justify-content: flex-start;
        }
    }
    
    .footer-content {
        @media screen and (min-width:$tabl) and (max-width:$pre-desc) {
        display: flex;
        justify-content: space-evenly;
    }
}
    
    
    .address-map,
    .footer-mail {
    margin-bottom: 8px;

    @media screen and (min-width:$minmob)  {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width:$mob) and (max-width:$pre-desc) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width:$tabl) {
        
    }

    @media screen and (min-width:$desc) {
        margin-bottom: 9px;
        display: flex;
        justify-content: flex-start;
    }
    }

    .footer-tell {

        @media screen and (min-width:$minmob)  {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        } 

        @media screen and (min-width:$mob) and (max-width:$pre-desc) {
        
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        }

        @media screen and (min-width:$desc) {
            
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
        }
    }
    
    .studio-footer {
    color: var(--bs-white);
    }
    
    .maps {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bs-white);
    text-decoration:none;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--bs-blue);
    }
    }
    
   
 
    
    
    .address-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration:none;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--bs-blue);
    }
    }
    
    
    
    
    .address-tell { 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration:none;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--bs-blue);
    }
    }
    
   .send-button {
    @media screen and (min-width:$minmob) {
        display: flex;
    justify-content: center;
    padding-bottom: 60px; 
    }


    @media screen and (min-width:$mob) and (max-width:$pre-desc) {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
   }
   }
    
    
    .footer-wrapper {

        @media screen and (min-width:$minmob) {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;  
        }

        @media screen and (min-width:$mob) and (max-width:$pre-desc) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
        }
    }
    
    .form-footer {
       
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    display: flex;

    
    @media screen and (min-width:$minmob) {
        justify-content: center;
        margin-bottom: 20px;

    @media screen and (min-width:$mob) and (max-width:$pre-desc) {
    justify-content: center;
    margin-bottom: 20px;

    }

    @media screen and (min-width:$desc) {
        justify-content: space-around; 
        margin: -82px 0px 20px 236px;   

    }
    }
}
    .check-email {
         
            @media screen and (min-width:$desc) {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 60px;
            }
        
        
    }

    
  
    
    .field-footer {
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: #2F303A;
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            cursor: pointer;
    }

    @media screen and (min-width:$minmob) and (max-width:$pre-tabl) {
        width: 290px;
        
        }

    @media screen and (min-width:$desc) {
        width: 358px;
    }

    }
    
    .social-address {
        color: #FFFFFF;
        @media screen and (min-width:$desc) {
            display: flex;
            justify-content: center;
            margin: -130px 0px 0px -372px;
        }
    }

        .groups {
        display: flex;

        @media screen and (min-width:$minmob) {
            justify-content: center;
            margin-bottom: 60px;

            
            }
        
        @media screen and (min-width:$mob) {
        justify-content: center;
        margin-bottom: 60px;


        }
        
        @media screen and (min-width:$desc) {
        margin: 38px 0px 0px -120px;
        }
    }
        
        .group-tittle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .footer-insta,
        .footer-twit,
        .footer-fac {
        margin-right: 10px;
        }

        .icons{
            fill: currentColor;
         }
         
         
         .link-svg__icons {
             width: 44px;
             height: 44px;
             border-radius: 50%;
             background: rgba(255, 255, 255, 0.1);
             color: #FFFFFF;
             filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
             display: flex;
             justify-content: center;
             align-items: center;
             transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
             &:hover,
               &:focus {
                 background-color: #2196F3;
                 color: #FFFFFF; 
                 transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
                }
                 }