header {
    height: 80px;
    background: #FFFFFF;
    display: flex;

    @media screen and (min-width:$minmob) and (max-width:$pre-tabl) { 

       display: flex;
        flex-direction: row-reverse;
        }
    }
    
    .inner {
        border: 1px solid #ECECEC;
    }
    
    .header-nav {
    display: flex;
    }
    
    a {
        text-decoration:none;
    }
    
    .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration:none;
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;

    @media screen and (min-width:$minmob) and (max-width:$pre-tabl) { 
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 16px 0 16px 15px;
    margin-right: 0;


    }
    }


    
    .web {
    color: var(--bs-blue);
    }
    
    .studio {
    color: #000000;
    } 
    
    .header-container {
    display:flex;
    margin: 32px 344px 32px 0;
    }
    
    .header-nav__list {
    display: flex;
    }
    
    .header-nav__link {
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    }
    
    .link {
    text-decoration:none;
    color: var(--bs-dark);
    &:hover,
    &:focus {
        color: var(--bs-blue);
    }
    }
    
    
    
    .header-nav .link {
    position: relative;
    padding: 32px 0;
    }
    
    
    .header-nav .link::before,
    .header-nav .active::before {
    content: ""; 
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--bs-blue);
    transition: width 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-nav .active::before {
        width: 100%;
    }
    
    
    .header-nav .link:hover::before,
    .header-nav .link:focus::before {
    width: 100%;
    }
    

    
    
    
    
    
    .active:visited {
    color: var(--bs-blue); 
     
    }
    
    .header-inner {
    display: flex;
    }
    
    .contacts {
    
    margin-left: auto;

    @media screen and (min-width:$mob) and (max-width:$pre-tabl) {
        display:flex; 

    }


    @media screen and (min-width:$desc) {
        display:flex; 
    }

    @media screen and (min-width:$tabl) and (max-width:$pre-desc) {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding-top: 21px;
    }

    } 
    
    
    .contact-link {

        
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--bs-approx-grey);
    text-decoration:none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row-reverse;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

    

    &:hover,
    &:focus {
        color: var(--bs-blue);
    }

    @media screen and (min-width:$tabl) and (max-width:$pre-desc) {
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 7px;
        padding-top: 0;

    }
    
    }
    
   
    
    .contacts__item {
    color: var(--bs-approx-grey);

    @media screen and (min-width:$desc) {
    &:not(:last-child) {
        margin-right: 30px;
    }
    }

    
    }
    
    .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    margin-bottom: auto;
    margin-top: auto;
    }

    .header-nav,
    .contacts {
        @media screen and  (max-width:$pre-tabl) {

            display: none;
            
        }
    }

    .burger {
        width: 24px;
        height: 24px;
        padding: 26px 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        position: relative;
        background-color: transparent;

        @media screen and  (min-width:$tabl) {

            display: none;
            
        }

        &__line {
            position: relative;
            display: block;
            width: 100%;
            height: 3px;
            background-color: var(--bs-dark);
            
            &::after,
            &::before {
            position: absolute;
            content: '';
            background-color: var(--bs-dark);
            width: 100%;
            height: 3px;
            left: 0;
        }

        &::after {
            top: -10px;
            
        }

        &::before {
            bottom: -10px;
            
        }

    }
    }

    .mob-menu {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        transform: translate(100%);
        background-color: #FFF;
        transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);

        &.is-open {
            transform: translate(0);
        }
    }
    
    .mob-menu__body {
        position: relative;
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        
    }

    .mob-menu__close {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        align-content: center;
        border: #fff;
        &:hover,
        &:focus {
        color: var(--bs-blue);

    }

    }

    .contacts-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        /* identical to box height */
        
        letter-spacing: 0.02em;
        
        color: #2196F3;
    }

    .mob-contacts {
        margin-bottom: 64px;
    }

    .mob-contacts__item {
        display: flex;
        margin-bottom: 32px;
        margin-left: 40px;

        @media screen and (min-width:$minmob) {
            margin-left: 0;
        justify-content: center;}


       
    }

    .contacts-mail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        
        color: #757575;
    }

    .mob-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        
        color: #212121;
    }

    .mob-menu__link {
        margin-bottom: 32px;
        margin-left: 40px;
    }

    .mob-menu__list {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .link-mob {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        
        letter-spacing: 0.02em;
        
        color: #2196F3;
    }

    .social-mob__link:not(:last-child) {
        
        border-right: 1px solid rgba(33,33,33,.2);
        padding-right: 10px;
        
    
}

.social-mob {
    display: flex;
    gap: 10px;
    margin-left: 40px;


    @media screen and (min-width:$minmob) {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

    

