
.peculiarities-title {
    display: none;
    }
    
    .feature__list {

    @media screen and (min-width:$tabl) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        }
    
        @media screen and (min-width:$desc) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;



    }
    }
    
    
    
    .item-icon {
    width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width:$minmob) {
        width: 290px;
        
        }
    
    @media screen and (min-width:$tabl) {
    width: 354px;
    
    }

    @media screen and (min-width:$desc) {
    width: 270px;
    margin-right: 30px;
    }
    }
    
    

    
    .feature-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bs-dark);
    margin-bottom: 10px;
    width: 450px;
    display: flex;
    justify-content: center;

    @media screen and (min-width:$minmob) {
        width: 290px;
        
        }

    @media screen and (min-width:$tabl) {
        width: 354px;
        
        }
    
        @media screen and (min-width:$desc) {
        width: 270px;
        margin-right: 30px;
        }
    
    }
    
    .description-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bs-approx-grey);
    width: 450px;


    @media screen and (min-width:$minmob) {
        width: 290px;
        
        }
    
    @media screen and (min-width:$tabl) {
        width: 354px;
        
        }
    
        @media screen and (min-width:$desc) {
        width: 270px;
        margin-right: 30px;
        }

    
    
    }
    
    .row-img {
    display: flex;
    justify-content: center;

    @media screen and (min-width:$desc) {
        justify-content: flex-start;
        }
    
    }
    
    .peculiarities__icon {
    background: #F5F4FA;
    color: 212121;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 120px;

    @media screen and (min-width:$minmob) {
        width: 290px;
        
        }

    @media screen and (min-width:$tabl) {
        width: 354px;
        
        }
    
        @media screen and (min-width:$desc) {
        width: 270px;
        margin-right: 30px;
        }
    }
    
    
    
    .medium__icon {
    margin: auto;
    fill: currentColor;
    }
    
    .peculiarities {
    padding-bottom: 60px;


    @media screen and (min-width:$tabl) {
    padding-bottom: 60px;
    }

    @media screen and (min-width:$desc) {
    padding-bottom: 94px;
    }

    }


